In [12]:
import pandas as pd
import matplotlib.colors

# Read the data

In [13]:
df = pd.read_csv("daily_report_python.csv")

# split data

In [14]:
df_1,df_2=df[:1], df[1:]

In [15]:
df_2.columns=df_2.iloc[0]
df_2.drop(df_2.index[0],inplace=True)
df_2

/tmp/ipykernel_4347/3660070175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.drop(df_2.index[0],inplace=True)

1,Name (Original Name),User Email,Join Time,Leave Time,Duration (Minutes),Guest,Recording Consent,In Waiting Room
2,Boshra Jaber,b.jaber@ltuc.com,11/08/2022 08:57:15 AM,11/08/2022 09:41:03 AM,44,No,NaN,No
3,Mostafa Albelbeisi,20020480@student.ltuc.com,11/08/2022 08:57:34 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
4,Mohannad Ghabashneh,22034356@student.ltuc.com,11/08/2022 08:57:35 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
5,Abdallah Mousa,22033848@student.ltuc.com,11/08/2022 08:58:00 AM,11/08/2022 11:11:34 AM,134,No,NaN,No
6,Ashar Momani,NaN,11/08/2022 08:58:14 AM,11/08/2022 11:11:34 AM,134,Yes,Yes,No
...,...,...,...,...,...,...,...,...
61,Tahani Ali,NaN,11/08/2022 10:42:45 AM,11/08/2022 10:44:21 AM,2,Yes,NaN,No
62,Tahani Ali,NaN,11/08/2022 10:46:22 AM,11/08/2022 11:11:34 AM,26,Yes,NaN,No
63,رزان عويضات,NaN,11/08/2022 09:36:33 AM,11/08/2022 09:37:59 AM,2,Yes,NaN,No
64,Tahani Ali,NaN,11/08/2022 10:44:22 AM,11/08/2022 10:45:39 AM,2,Yes,NaN,No
65,Walaa Atiyh,NaN,11/08/2022 11:01:33 AM,11/08/2022 11:11:34 AM,11,Yes,NaN,No

# extract duration

In [16]:
meeting_duration=df_1["Duration (Minutes)"][0]
meeting_duration = int(meeting_duration)
meeting_id = df_1["Meeting ID"][0]

meeting_duration

135

# get studant ID

In [17]:
df_2['Student ID'] = df_2["User Email"].str.extract(pat='(^[0-9]*)')

/tmp/ipykernel_4347/620882870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Student ID'] = df_2["User Email"].str.extract(pat='(^[0-9]*)')

# sum total of time for each studant

In [18]:
df_2['Total']=df_2['Duration (Minutes)'].astype('int')
df_2=df_2.groupby('Student ID',as_index=False).sum(numeric_only=True)
df_2=df_2[1:]
df_2

/tmp/ipykernel_4347/3109656311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Total']=df_2['Duration (Minutes)'].astype('int')

1  Student ID  Total
1    19012233    132
2    20019322    131
3    20019523    120
4    20020480    134
5    21023784    124
6    22032930    130
7    22033848    134
8    22034140    130
9    22034185    107
10   22034186    128
11   22034189    132
12   22034245    130
13   22034252    130
14   22034270    133
15   22034278    126
16   22034284    127
17   22034289    127
18   22034306    122
19   22034311    121
20   22034319    123
21   22034326    127
22   22034356    134
23   22034359    132
24   22034361    127
25   22034362     61
26   22034365    125
27   22034368    133
28   22034371    122

# studant state

In [27]:
df_2["state"]= ['Present' if x >= meeting_duration-10 else "Absent" if x <meeting_duration-20 else "late" for x in df_2['Total']] 
df_2['percentage of attendance']=[f'{round((x/meeting_duration)*100)}' for x in df_2['Total']]

df_2.style

df_2.style.background_gradient(subset=['percentage of attendance'], cmap='Greens')

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

In [ ]:
# Daily Report

In [28]:
df_att=pd.read_csv('data.csv')
df_att[meeting_id]=df_2["state"]
df_att['Student ID']=df_2['Student ID']
df_att['percentage of attendance']=df_2['percentage of attendance']
df_att.to_csv('data.csv')